<!-- BEGIN transcoded -->
<tr class="{CSS_ROW} {ADDITIONAL_CSS} xvmp_table_row xvmpSortable" id="xvmp_row_{VAL_MID}">
	<td class="std small">
		<span class="glyphicon glyphicon-resize-vertical"></span>
	</td>
	<td class="std small">
		<a onclick="VimpContent.playVideo({VAL_MID});">
			<div class="xvmp_image_container">
				<img width="170px" height="95px" class="xvmp_preview_image" src="{VAL_THUMBNAIL}" onerror="this.src='./Customizing/global/plugins/Services/Repository/RepositoryObject/ViMP/templates/images/vimp_logo.svg'">
			</div>
		</a>
	</td>
	<td class="std small">
		{VAL_TITLE}
	</td>
	<td class="std small">
		{VAL_DESCRIPTION}
	</td>
</tr><!-- END transcoded -->
