<!-- BEGIN list_item -->
<a onclick="Panopto.playVideo('{SID}');">
	<div class="box" id="box_{SID}">
		<div class="xpan_image_container">
			<img width="312px" height="175px" id="xpan_thumbnail_{SID}" class="xpan_preview_image" src="{THUMBNAIL}" onerror="this.src='./Customizing/global/plugins/Services/Repository/RepositoryObject/Panopto/templates/images/Panopto.jpg'">
			<div class="xpan_duration_container">
				<div class="xpan_duration">{DURATION}</div>
			</div>
			<div class="xpan_play_overlay">
				<div class="xpan_pseudo_element"></div> <!-- this is necessary to center the following image -->
				<img class="xpan_play_icon" width="32px" height="32px" src="./Customizing/global/plugins/Services/Repository/RepositoryObject/Panopto/templates/images/play.svg">
			</div>
		</div>
		<div class="xpan_video_infos">
			<h2>{TITLE}</h2>
			<p>{DESCRIPTION}</p>
			<p><i>{LABEL_AUTHOR}</i> {AUTHOR}</p>
			<p><i>{LABEL_CREATED_AT}</i> {CREATED_AT}</p>
			<p><i>{LABEL_WATCHED}</i> {WATCHED}</p>
		</div>
	</div>
</a>
<!-- END list_item -->
